@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text:400,700|Paytone+One|Source+Sans+Pro:300,400,600&display=swap');
@import "bootstrap";
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css');
@import "bootstrap-typeahead.min";

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.hide {
  display: none;
}

.blur {
  filter: blur(30px)
}

.no-padding-margin {
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.homePage .container {
  max-width: 500px;
}

.showPage .container {
  max-width: 960px;
}

.site-header {
  display: block;
  &:hover, &:focus {
    text-decoration: none;
  }
  h4 {
    font-family: "Paytone One";
    font-weight: 600;
    color: #2d74fc;
  }
  img.site-icon {
    max-width: 75px;
  }
}

.card-deck {
  .card {
    min-width: 220px;
  }
}

.carsList {
  margin-bottom: 5em;
  .carsListItem {
    .car_details {
      position: relative;
      cursor: pointer;
      padding: 10px;
      box-shadow: 0 0 2px 1px #e0e0e0;
      border-radius: 5px;
      overflow: hidden;
      .checked_icon {
        display: none;
        font-size: 8px;
        color: #5bb517;
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 4px;
        border: 1px solid #5bb517;
        border-radius: 50%;
      }
      &.selectedCar {
        .checked_icon {
          display: block;
        }
      }
      &.disabled {
        opacity: 0.3;
        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.12);
        }
      }
      .bold_details {
        font-family: "DM Serif Text";
        font-weight: 700;
        color: #155dff;
        letter-spacing: 1px;
        &.car_price {
          font-size: 1.3em;
        }
      }
      .small_details {
        font-family: Source Sans Pro;
        font-weight: 300;
        font-size: 10px;
        letter-spacing: 1px;
      }
      .car_image {
        max-width: 175px;
        position: absolute;
        top: 50%;
        left: calc(100% - 100px);
        transform: translate(-50%, -50%);
      }

      ul.car_availability {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        font-family: Source Sans Pro;
        font-weight: 500;
        li {
          display: inline;
          font-size: 10px;
          color: #9e9e9e;
          padding: 2px 8px;
          text-transform: uppercase;
          letter-spacing: 1px;
          box-shadow: 0 0 0 1px #9e9e9e;
          &.current_selected_day {
            background: #3674fc;
            box-shadow: 0 0 0 1px #3674fc;
            color: #fff;
          }
          &:not(:first-child) {
            margin-left: -3px;
          }
        }
      }
    }
  }
}

.highlight {
  text-decoration: underline;
  font-weight: bold;
}

.filterWidget {
  position: relative;
  font-family: Source Sans Pro;
  .btn:not(label) {
    font-size: 10px;
    color: #2d74fc;
    padding: 5px 12px;
    border-radius: 50px;
    margin-right: 5px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 0 0 1px #2d74fc;
    &:hover, &:focus {
      color: #fff;
      background: #2d74fc;
    }
    i.fa {
      margin-right: 3px;
    }
  }
  .filter_wrapper {
    display: inline-block;
    .popover_content {
      position: absolute;
      left: 0;
      background: #fff;
      z-index: 10;
      text-align: left;
      padding: 15px;
      margin: 15px 0;
      visibility: visible;
      opacity: 1;
      transition: all 0.3s ease-in-out;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05), 0 .25rem .75rem rgba(0, 0, 0, .05);
      @media (max-width: 480px) {
        width: 100%;
      }
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-width: 6px;
        border-style: solid;
        border-bottom-color: #727272;
        top: -12px;
        right: 30px;
      }
      &.hide {
        display: block !important;
        visibility: hidden;
        opacity: 0;
      }
      .form-group {
        label:not(.btn) {
          display: block;
          font-size: 10px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        .btn-group-toggle {
          label.btn {
            color: #373737;
            background: #fff;
            border: 0;
            box-shadow: 0 0 0 1px #b0b0b0;
            cursor: pointer;
            &:hover, &:focus {
              border: 0;
            }
            &.active {
              color: #fff;
              background: #2d74fc;
              border: 0;
              box-shadow: 0 0 0 1px #2d74fc;
            }
          }
        }
      }

      .close_filters {
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
        padding: 0px 5px;
        font-size: 25px;
        color: #f40c21;
        line-height: 20px;
        border-radius: 50px;
        opacity: 0.7;
        &:hover, &:focus {
          text-decoration: none;
          opacity: 1
        }
      }
    }
  }
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  width: unset !important;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.input-daterange input {
  text-align: left;
}

.fixedFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 0 0 0;
  background: #fff;
  box-shadow: 0 0 0 1px #d9d9d9;
}

.car_rental_next_step {
  .modal {
    .modal-content {
      .modal-body {
        padding: 0;
        .close {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px 10px;
          font-size: 1.5em;
          font-weight: lighter;
          z-index: 5;
        }
        .carCard {
          position: relative;
          .carBg {
            padding: 10px;
            box-shadow: 0 1px 0 0 #ccc;
            img {
              max-width: 100%;
            }
          }
          .carDetailsWrap {
            padding: 10px !important;
            .heading {
              font-size: 10px;
              font-weight: bold;
              color: #1d62ff;
              text-transform: uppercase;
              letter-spacing: 1px;
              margin-bottom: 5px;
            }
            .car_details {
              display: block;
              font-family: "DM Serif Text";
              font-size: 1.2em;
              font-weight: bold;
              color: #5e5e5e;
              letter-spacing: 1px;
              margin-bottom: 10px;
            }
          }
          .loadingScreen {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.7);
          }
          &.showLoading {
            .loadingScreen {
              display: block;
              .loadContents {
                position: absolute;
                text-align: center;
                width: 100%;
                font-weight: 100;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: #525252;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                .successBox {
                  i {
                    font-size: 3em;
                    margin-bottom: 15px;
                    color: #3fc93f;
                    box-shadow: 0 0 0 1px #3fc93f;
                    padding: 15px 14px;
                    border-radius: 50%;
                    letter-spacing: unset;
                  }
                }
              }
            }
          }
        }
      }
      .modal-footer {
        .row {
          width: 100%;
          .car_price {
            font-family: Paytone One;
            color: #5cc100;
          }
        }
      }
    }
  }
}